html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 5vmin;
}

#outline {
  align-items: center;
  justify-content: center;
  position: relative;
  width: 10em;
  height: 11em;
  border: 0.15em solid #000;
  z-index: 1;
}

#text {
  color: #000;
  padding-right: 6.5em;
  padding-bottom: 11.75em;
  line-height: 1;
  font-size: 3.8vmin;
  font-weight: bold;
  position: absolute;
  z-index: 2;
}

#fill {
  width: 95%;
  height: 80%;
  background-image: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
  margin-top: 1.9em;
  margin-left: 2.5%;
  position: absolute;
}