html, body {
  margin: 0;
  background: #000;
}

canvas {
  width: 100vmin;
  height: 100vmin;
  display: block;
  position: absolute;
  top: 75vmin;
  left: 0;
  border-bottom: 0.15em solid #ddd;
  background: #000;
}